# Auto detect text files and perform LF normalization
* text=auto
README.md filter=lfs diff=lfs merge=lfs -text
Location_Privacy_Preservation.zip filter=lfs diff=lfs merge=lfs -text
Internet[[:space:]]of[[:space:]]Things[[:space:]]privacy.zip filter=lfs diff=lfs merge=lfs -text
Security_Privacy_and_Trust.zip filter=lfs diff=lfs merge=lfs -text
